<div id="header"></div>
<div id="content">
  <h1>That's Too Cute Boutique</h1>
  <h3>Order Form</h3>
  <br></br>
  <input id=customer_name type="text" value="Customer Name" onfocus="this.value = this.value=='Customer Name'?'':this.value;" onblur="this.value = this.value==''?'Customer Name':this.value;"></input>
  <input id=customer_phone_number class="float_right" type="text" value="Customer Phone Number" onfocus="this.value = this.value=='Customer Phone Number'?'':this.value;" onblur="this.value = this.value==''?'Customer Phone Number':this.value;"></input>
  <input id=employee_name type="text" value="Employee Name" onfocus="this.value = this.value=='Employee Name'?'':this.value;" onblur="this.value = this.value==''?'Employee Name':this.value;"></input>
  <br></br>
  <h4>Monogram</h4>
  <div id="monogram_container">
    <div id="monogram_first_name_container" class="monogram">
      <input id=monogram_first_name class="monogram_input" type="text" value="First Name" onfocus="this.value = this.value=='First Name'?'':this.value;" onblur="this.value = this.value==''?'First Name':this.value;"></input>
    </div>
    <div id="monogram_last_name_container" class="monogram">
      <input id=monogram_last_name class="monogram_input" type="text" value="Last Name" onfocus="this.value = this.value=='Last Name'?'':this.value;" onblur="this.value = this.value==''?'Last Name':this.value;"></input>
    </div>
    <div id="monogram_middle_name_container" class="monogram">
      <input id=monogram_middle_name class="monogram_input" type="text" value="Middle Name" onfocus="this.value = this.value=='Middle Name'?'':this.value;" onblur="this.value = this.value==''?'Middle Name':this.value;"></input>
    </div>
  </div>
  <br>
</div>
<div id="footer"></div>
